<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cep-eventpattern -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eventpattern.presentation.EventpatternModelWizardID"
            name="%_UI_EventpatternModelWizard_label"
            class="eventpattern.presentation.EventpatternModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EventpatternModelFile.gif">
         <description>%_UI_EventpatternModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cep-eventpattern -->
      <editor
            id="eventpattern.presentation.EventpatternEditorID"
            name="%_UI_EventpatternEditor_label"
            icon="icons/full/obj16/EventpatternModelFile.gif"
            extensions="eventpattern"
            class="eventpattern.presentation.EventpatternEditor"
            contributorClass="eventpattern.presentation.EventpatternActionBarContributor">
      </editor>
   </extension>

</plugin>
