<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smartcontract -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="smartcontract.presentation.SmartcontractModelWizardID"
            name="%_UI_SmartcontractModelWizard_label"
            class="smartcontract.presentation.SmartcontractModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SmartcontractModelFile.gif">
         <description>%_UI_SmartcontractModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smartcontract -->
      <editor
            id="smartcontract.presentation.SmartcontractEditorID"
            name="%_UI_SmartcontractEditor_label"
            icon="icons/full/obj16/SmartcontractModelFile.gif"
            extensions="smartcontract"
            class="smartcontract.presentation.SmartcontractEditor"
            contributorClass="smartcontract.presentation.SmartcontractActionBarContributor">
      </editor>
   </extension>

</plugin>
