<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blockchain-domain -->
      <package
            uri="www.uca.es/modeling/blockchain/domain"
            class="blockchaindomain.BlockchaindomainPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smartcontract -->
      <package
            uri="www.uca.es/modeling/cep/smartcontract"
            class="smartcontract.SmartcontractPackage"/>
   </extension>

</plugin>
