<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="generated-complex-events" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/generated-complex-events.log" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="300000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<!--<param name="ConversionPattern"
				value="[%d{dd/MM/yy hh:mm:ss:sss z}] %m%n" />
			-->
		</layout>
	</appender>
	
	<appender name="esper" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/esper.log" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="3000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p [%c{1}][%M]: %m%n" />
		</layout>
	</appender>

	<appender name="esperio" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/esperio.log" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="3000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p [%c{1}][%M]: %m%n" />
		</layout>
	</appender>

	<appender name="apache_commons" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/apache_commons.log" />
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="3000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p [%c{1}][%M]: %m%n" />
		</layout>
	</appender>

	<logger name="es.uca.esper.csv.simulator">
		<level value="DEBUG" />
		<appender-ref ref="generated-complex-events" />
	</logger>

	<logger name="org.apache.commons">
		<level value="ERROR" />
		<appender-ref ref="apache_commons" />
	</logger>

	<logger name="com.espertech.esperio">
		<level value="DEBUG" />
		<appender-ref ref="esperio" />
	</logger>


	<logger name="com.espertech.esper">
		<level value="DEBUG" />
		<appender-ref ref="esper" />
	</logger>
</log4j:configuration>

